[submodule "repositories/api-gateway"]
	path = repositories/api-gateway
	url = https://github.com/kill-ux/api-gateway.git
[submodule "repositories/inventory-app"]
	path = repositories/inventory-app
	url = https://github.com/kill-ux/inventory-app.git
[submodule "repositories/billing-app"]
	path = repositories/billing-app
	url = https://github.com/kill-ux/billing-app.git
[submodule "repositories/code-keeper-infra"]
	path = repositories/code-keeper-infra
	url = https://github.com/kill-ux/code-keeper-infra.git