[defaults]
# Specify the inventory file
# Define the directory for host and group variables
# Set the logging verbosity level
# Set the default user for SSH connections
# Define the default become method
inventory = inventory/hosts.yml
host_vars_inventory = inventory/host_vars
group_vars_inventory = inventory/group_vars
verbosity = 0
remote_user = vagrant
become_method = sudo
vault_password_file = .vault_pass
callbacks_enabled = ansible.posix.profile_tasks

[persistent_connection]
# Controls how long the persistent connection will remain idle before it is destroyed
# Controls the amount of time to wait for response from remote device before timing out persistent connection
connect_timeout = 30
command_timeout = 30
