[Unit]
Description=GitLab Runner Docker Container
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop gitlab-runner
ExecStartPre=-/usr/bin/docker rm gitlab-runner
ExecStart=/usr/bin/docker run --name gitlab-runner \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /srv/gitlab-runner/config:/etc/gitlab-runner \
    gitlab/gitlab-runner:latest
ExecStop=/usr/bin/docker stop gitlab-runner
Restart=always

[Install]
WantedBy=multi-user.target
